html , body{
    height: 100%;
}
body{
font-family: andalus;
margin: 0;
text-align: center;
}
.heading
{
  
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
a{
color:#663854; 
text-decoration: none
}

#aa{
    margin-left: 5em;
    margin-top: 10em;
}
.container1{
text-align: center;
min-height: 100%;
    padding-right:15px; 
    padding-left: 0px; 
    margin-right: auto;     
    margin-left: 0px;
}
.container2{
text-align: center;
min-height: 100%;
}
.add-recpie form,.contact,.flex, .container1{
display: flex;
flex-wrap: nowrap;flex-direction: row;
}
.contact
{
   margin-left: 180px; 
}
.address
{
   margin-left: 20px; 
}

.recpie-flex{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content:space-around;
}

header{
height: 100%;
width: 100%;
background: #eee;
padding: 25px;
text-align: center;
}

.nav-button{
display: none;
}
header .logo{
font-size: 28px;
color:#333
}

nav ul {
    list-style: none;
    float: left;
}

nav li, nav li a{
    display:block;
    font-weight: bolder;
}

nav li a{
padding:10px;
}

nav .active a{
color: white;  
     background-color: #663854;
}

footer{
background: #663854;
color:#fff;
width:10px;
text-align: center;
}


.footer{
width:auto;
}
.footer nav a,.footer nav li{
display: inline-block;
color:#fff
}

.middle{
width: 100%;
}
.recipePg
{
     text-align: center;
    
    
    color:#663854;  
   
   
}
.middle .slider img{
width: 100%;
}
.recipeDiv {
  margin-top: 0.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;    
    color:#663854;
    border: 2px solid #663854; 
 text-align: left;
  
}
.add-recpie,.recpie-details,.contact section, .recpies, .today-menu, article,footer{
padding: 25px
}
.recpies aside{
padding: 15px;
text-align: center;
display: inline-block;
}

.recpies aside b{
display: block;
padding: 15px
}
.recpies aside img{width: 100%}
.recpies aside span{
color:#888;
font-size:12px
}

.recpies aside:hover{
outline:solid 2px #0ace30
}

article p{
line-height: 28px
}

table{width: 100%;
border:solid 1px #ddd;
border-bottom-width: 0;
border-collapse: collapse;
}

table thead td{
background: #663854;
color:#fff;
}

table td{padding: 15px;
border: solid 1px dimgray;
}

tbody tr:nth-child(even){
  background: #ddd;
}


table .by{
width:100px
}

table .img{
width:50px
}

table .img img{
width: 100%;
}

table .title span{
display: block;
color:#666;
font-size: 12px
}

table .button{
width:50px
}

form{
width:300px
}

form label{
display: block;
color:#777
}

form .input{
border:solid 1px #ccc;
margin-bottom: 20px;
overflow: hidden
}

form .input input,form .input textarea,form .input select{
border-width: 0;
padding: 10px;
width: 100%;
outline: none
}
form .input textarea{
height:100px
}
form .button input{
background: #333;
color: #fff;
padding: 10px 20px;
border-width: 0;
cursor: pointer
}

.recpie-details p, .recpie-details h2{
margin: 0
}
.recpie-details p{
color:#666;
font-size: 12px;
}

.add-recpie form{width:auto}
.add-recpie form section{width:300px;padding:15px}
@media only screen (max-width: 1024px) {
    #heading{
        height: 65%;
    }
}
@media (max-width: 768px) {
    .add-recpie form,.contact,.flex, .container{
display: block;
}

header{
width:auto;
background: #eee;
padding: 16px;
text-align:center;
background: #663854;
}
    #heading{
        height: 50%;
    }
.nav-button{
    display: block;
    position: absolute;top:10px;width:35px;
    border:solid 2px #fff;
    background: transparent;
}
.nav:hover nav{
display: block
}
.nav nav{padding: 15px}

.nav-button hr{
border:solid 1px #fff;    
}
header .logo{
font-size: 20x;
color:#fff;
padding-bottom: 0px;
display: block
}

header nav{
display: none
}
    nav{
text-align: left
}
    nav ul{
list-style: none;
margin: 0;
padding: 0;
display: block;
}

nav li, nav li a{
display:block !important;
margin:0;
color:#fff;
font-size: 80%;width: auto;
}

nav li a{
padding:5px;
}

nav .active a{
color:#333
}

footer{
background: #663854;
color:#fff;
width:auto;
text-align: left
}


.middle{
width: auto;
text-align: center
}

.middle .slider img{
width:100%
}

.add-recpie,.recpie-details,.contact section, .recpies, .today-menu, article,footer{
padding: 16px
}
.recpies aside{
padding: 15px;
text-align: center;
display: inline-block;
}
    .recpies aside img{width: 100%}
.recpies aside b{
display: block;
padding: 15px
}

.recpies aside span{
color:#888;
font-size:12px
}

.recpies aside:hover{
outline:solid 2px #663854;
}

article p{
line-height: 20px;
text-align: justify
}

table{width: 100%;
border:solid 1px #ddd;
border-bottom-width: 0;
border-collapse: collapse;
}
table td{padding: 10px;
border-bottom: solid 1px #ddd
}

table .od{
background: #f5f5f5
}
table .by{
width:80px
}

table .img{
width:30px
}

table .img img{
width: 100%;
}

table .title span{
display: block;
color:#666;
font-size: 12px
}

table .button{
width:50px ;
}

form{
width:auto
}

form label{
display: block;
color:#777;
    text-align: left
}

form .input{
border:solid 1px #ccc;
margin-bottom: 20px;
overflow: hidden
}

form .input input,form .input textarea{
border-width: 0;
padding: 10px;
width: 100%;
outline: none
}

form .button input{
background: #333;
color: #fff;
padding: 10px 0px;
border-width: 0;
cursor: pointer;
    width: 100%
}
    .recpie-details{text-align: left}
.recpie-details p, .recpie-details h2{
margin: 0;
}
    .recpie-details img{width: 100%}
    .recpie-details p{
color:#666;
font-size: 12px
}   

    .add-recpie form{width:auto}
.add-recpie form section{width:auto;padding:0px}

}

section.nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

